<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Remoção</title>
    <!-- Incluindo o Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Confirmar Remoção</h1>
        <form action="{{ url_for('excluir_tarefa', id=tarefa.id) }}" method="post">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Tem certeza que deseja remover esta tarefa?</h4>
                <p><strong>ID:</strong> {{ tarefa.id }}</p>
                <p><strong>Título:</strong> {{ tarefa.titulo }}</p>
                <p><strong>Descrição:</strong> {{ tarefa.descricao }}</p>
                <p><strong>Status:</strong> {{ tarefa.status.value }}</p>
                <p><strong>Responsável: </strong>{{ tarefa.responsavel.nome_usuario }}</p>
                <hr>
                <p class="mb-0">Esta ação não pode ser desfeita.</p>
            </div>
            <button type="submit" class="btn btn-danger">Remover Tarefa</button>
            <a href="{{ url_for('all_tarefas') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
